$gotham-book-woff-font-path: '/fonts/gotham/Gotham-Book-webfont.woff';
$gotham-book-woff2-font-path: '/fonts/gotham/Gotham-Book-webfont.woff2';
$gotham-book-svg-font-path: '/fonts/gotham/Gotham-Book-webfont.svg';
$gotham-book-eot-font-path: '/fonts/gotham/Gotham-Book-webfont.eot';

$gotham-book-italic-eot-font-path: '/fonts/gotham/Gotham-BookItalic-webfont.eot';
$gotham-book-italic-svg-font-path: '/fonts/gotham/Gotham-BookItalic-webfont.svg';
$gotham-book-italic-woff-font-path: '/fonts/gotham/Gotham-BookItalic-webfont.woff';
$gotham-book-italic-woff2-font-path: '/fonts/gotham/Gotham-BookItalic-webfont.woff2';

$gotham-medium-eot-font-path: '/fonts/gotham/Gotham-Medium-webfont.eot';
$gotham-medium-svg-font-path: '/fonts/gotham/Gotham-Medium-webfont.svg';
$gotham-medium-woff-font-path: '/fonts/gotham/Gotham-Medium-webfont.woff';
$gotham-medium-woff2-font-path: '/fonts/gotham/Gotham-Medium-webfont.woff2';

$gotham-medium-italic-eot-font-path: '/fonts/gotham/Gotham-MediumItalic-webfont.eot';
$gotham-medium-italic-svg-font-path: '/fonts/gotham/Gotham-MediumItalic-webfont.svg';
$gotham-medium-italic-woff-font-path: '/fonts/gotham/Gotham-MediumItalic-webfont.woff';
$gotham-medium-italic-woff2-font-path: '/fonts/gotham/Gotham-MediumItalic-webfont.woff2';
$font-family-brand: 'Gotham';
