$mat-gcired: (
  50: #f6e3e7,
  100: #e9b8c2,
  200: #db899a,
  300: #cd5971,
  400: #c23652,
  500: #b71234,
  600: #b0102f,
  700: #a70d27,
  800: #9f0a21,
  900: #900515,
  A100: #ffbdc1,
  A200: #ff8a92,
  A400: #ff5762,
  A700: #ff3d4a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$mat-glacierblue: (
  50: #e0f5fb,
  100: #b3e5f6,
  200: #80d4f0,
  300: #4dc3e9,
  400: #26b6e5,
  500: #00a9e0,
  600: #00a2dc,
  700: #0098d8,
  800: #008fd3,
  900: #007ecb,
  A100: #f3faff,
  A200: #c0e4ff,
  A400: #8dceff,
  A700: #74c3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-darkgray: (
  50: #edeeee,
  100: #d3d4d4,
  200: #b6b7b8,
  300: #999a9c,
  400: #838486,
  500: #6d6e71,
  600: #656669,
  700: #5a5b5e,
  800: #505154,
  900: #3e3f42,
  A100: #a6baf7,
  A200: #7796f3,
  A400: #386aff,
  A700: #1f57ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-lightgray: (
  50: #f7f7f7,
  100: #ebebec,
  200: #dddee0,
  300: #cfd1d3,
  400: #c5c7c9,
  500: #bbbdc0,
  600: #b5b7ba,
  700: #acaeb2,
  800: #a4a6aa,
  900: #96989c,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d5e7ff,
  A700: #bcd9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-darkred: (
  50: #f0e3e5,
  100: #dab9be,
  200: #c18a92,
  300: #a85b66,
  400: #963846,
  500: #831525,
  600: #7b1221,
  700: #700f1b,
  800: #660c16,
  900: #53060d,
  A100: #ff868d,
  A200: #ff535d,
  A400: #ff202d,
  A700: #ff0715,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$mat-teal: (
  50: #e5f7f6,
  100: #beebe8,
  200: #93ddd9,
  300: #68cfc9,
  400: #47c5be,
  500: #27bbb2,
  600: #23b5ab,
  700: #1daca2,
  800: #17a499,
  900: #0e968a,
  A100: #c5fff9,
  A200: #92fff4,
  A400: #5fffef,
  A700: #46ffed,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$mat-yellow: (
  50: #fff9e1,
  100: #ffefb5,
  200: #ffe584,
  300: #ffdb52,
  400: #ffd32d,
  500: #ffcb08,
  600: #ffc607,
  700: #ffbe06,
  800: #ffb804,
  900: #ffac02,
  A100: #ffffff,
  A200: #fffaf2,
  A400: #ffe8bf,
  A700: #ffdea6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
