/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Gotham', Roboto, 'Helvetica Neue', sans-serif;
}

.full {
  width: calc(100%);
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
}

.gci-red {
  color: #b71234;
}
